Source: radeontop-gui
Section: utils
Priority: optional
Maintainer: Erol Yesilyurt <erolyslyrt@gmail.com>
Build-Depends: debhelper (>= 9), libpciaccess-dev, pkg-config, libdrm-dev (>= 2.4.63)
Standards-Version: 3.9.8
Homepage: https://github.com/erol-y/radeontop-gui
Vcs-Git: git://github.com/erol-y/radeontop-gui.git

Package: radeontop-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utility to show Radeon GPU utilization
 radeontop is a small utility which allows one to monitor the utilization of
 Radeon GPUs starting from the R600 series and newer using undocumented
 performance counters in the hardware. The utility works with the free
 drivers.
 .
 This is GUI work on radeontop
 .

